@import "./styles/about_us.scss";
@import "./styles/catalog.scss";
@import "./styles/footer.scss";
@import "./styles/nav.scss";
@import "./styles/product.scss";
@import "./styles/home.scss";
@import "./styles/page_not_found.scss";
@import "./styles/product_page.scss";
@import "./styles/dashboard.scss";

.app {
  display: flex;
  flex-direction: column;
  background-color: $base-color;
  min-height: 100dvh;

  font-family: $main-font;
}

.page {
  flex: 1;
}

.truncate {
  display: -webkit-box;
  line-clamp: var(--line-clamp, 3);
  -webkit-line-clamp: var(--line-clamp, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  background-color: $primary-color;
  transition: background-color $animation_duration $animation, shadow $animation_duration $animation;
  color: white;
  border-radius: 0.5rem;
  box-shadow: $shadow;

  &:hover {
    background-color: $primary-color-active !important;
    box-shadow: $shadow_active;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100vw;
  position: relative;

  .loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%), translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .spinner {
      width: 3rem;
      height: 3rem;
      border: 0.4rem solid rgba(0, 0, 0, 0.1);
      border-top-color: $primary-color;
      border-radius: 50%;
      animation: spin 1s cubic-bezier(0.17, 0.6, 0.86, 0.75) infinite;
    }

    p {
      margin-top: 0.25rem;
      font-size: 1rem;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.2);
      text-shadow: 0 0px 1px #272b2c3b;
    }

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.next-arrow,
.prev-arrow {
  height: 1.5rem;
  width: 1.5rem;

  &:hover {
    opacity: 0.75;
  }
}

.prev-arrow {
  rotate: 180deg;
}
