@import "./styles/about_us.scss";
@import "./styles/catalog.scss";
@import "./styles/footer.scss";
@import "./styles/nav.scss";
@import "./styles/product.scss";
@import "./styles/home.scss";
@import "./styles/page_not_found.scss";
@import "./styles/product_page.scss";
@import "./styles/dashboard.scss";

.app {
  display: flex;
  flex-direction: column;
  background-color: $base-color;
  min-height: 100dvh;

  font-family: $main-font;
}

.page {
  flex: 1;
}

.truncate {
  display: -webkit-box;
  line-clamp: var(--line-clamp, 3);
  -webkit-line-clamp: var(--line-clamp, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  background-color: $primary-color;
  transition: background-color $animation_duration $animation, shadow $animation_duration $animation;
  color: white;
  border-radius: 0.5rem;
  box-shadow: $shadow;

  &:hover {
    background-color: $primary-color-active !important;
    box-shadow: $shadow_active;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #edf6fa;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #edf6fa;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #edf6fa;
}

// /* scrollbar for firefox light mode */
// html {
//   scrollbar-color: #262533 #e3e8f0;
//   scrollbar-width: thin;
// }

// /* scrollbar for firefox dark mode */
// html.dark {
//   scrollbar-color: #e3e8f0 #262533;
// }

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// /* chromium browser's light mode scrollbar background */
// ::-webkit-scrollbar-track {
//   background-color: #e3e8f0;
// }

// /* chromium browser's light mode scrollbar thumb */
// ::-webkit-scrollbar-thumb {
//   background-color: #e3e8f0;
// }

// .field-button .product-description {
//   overflow-y: hidden !important;
// }

.confirm-deletion-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1c1f1f49;
  height: 100%;
  width: 100%;
  z-index: 100000;

  .confirm-deletion-modal {
    background-color: $base-color;
    box-shadow: 2px 0px 4px #1c1f1f11;
    position: absolute;
    max-width: 20rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 12rem;
    padding: 0.5rem;
    border-radius: 0.5rem;

    &:hover {
      transform: translate(-50%, -50%) !important;
      top: 50% !important;
      left: 50% !important;
    }

    .message {
      font-weight: 500;
      // text-align: justify;
      // word-break: keep-all;
      text-align: center;
    }

    .confirm-deletion-modal-content {
      .buttons {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        margin-top: 0.75rem;

        .discard-button {
          background-color: $primary-color !important;

          &:hover {
            background-color: $primary-color-active !important;
          }
        }

        .discard-button,
        .delete-button {
          flex: 1;
          background-color: $warning-red;
          padding: 0.25rem 0.5rem;
          border-radius: 0.5rem;
          font-weight: 500;
          color: $base-color;
          cursor: pointer;
          transition: background-color $animation_duration $animation,
            box-shadow $animation_duration $animation;
          box-shadow: 2px 0px 4px #1c1f1f11;

          &:hover {
            background-color: $warning-red-active;
            box-shadow: 0 6px 10px #72808533;
          }
        }
      }
    }
  }
}

.loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%), translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .spinner {
    width: 3rem;
    height: 3rem;
    border: 0.4rem solid rgba(0, 0, 0, 0.1);
    border-top-color: $primary-color;
    border-radius: 50%;
    animation: spin 1s cubic-bezier(0.17, 0.6, 0.86, 0.75) infinite;
  }

  p {
    margin-top: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 0px 1px #272b2c3b;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.next-arrow,
.prev-arrow {
  height: 1.5rem;
  width: 1.5rem;

  &:hover {
    opacity: 0.75;
  }
}

.prev-arrow {
  rotate: 180deg;
}
