@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Krona+One&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
}
