$base-color: #edf6fa;
$text-color: #fff;
$dark-text-color: #071522;
$gray: #cecece;
$secondary-color: #1f5489;
$primary-color: #348ae1;
$primary-color-active: #287dd1;
$product_color: #e6e3e3;
$accent_green: #0aab94;
$accent_green_active: #0f9e8b;
$shadow_color: #afc2c733;
$shadow_color_active: #72808533;

$success_green: #28a745;
$success_green_active: #218838;
$warning_red: #dc3545;
$warning_red_active: #bd2130;

$shadow: 0 6px 10px #afc2c733;
$shadow_active: 0 6px 10px #72808533;

$animation_duration: 300ms;
$animation: ease-in-out;

$main-font: Poppins, Roboto, "Noto Sans Georgian", sans-serif;
$secondary-font: Righteous, Roboto, "Noto Sans Georgian", sans-serif;
