$base-color: #edf6fa;
$text-color: #fff;
$secondary-color: #013060;
$primary-color: #348ae1;
$primary-color-active: #3181d1;
$product_color: #e6e3e3;
$accent_green: #0aac96;
$accent_green_active: #0fa18e;
$shadow_color: #afc2c733;
$shadow_color_active: #72808533;

$shadow: 0 6px 10px #afc2c733;
$shadow_active: 0 6px 10px #72808533;

$animation_duration: 300ms;
$animation: ease-in-out;

$main-font: "Krona One", sans-serif;
