$base-color: #edf6fa;
$text-color: #fff;
$secondary-color: #1f5489;
$primary-color: #348ae1;
$primary-color-active: #2d79c4;
$product_color: #e6e3e3;
$accent_green: #0aab94;
$accent_green_active: #0f9e8b;
$shadow_color: #afc2c733;
$shadow_color_active: #72808533;

$success_green: rgb(52, 177, 52);

$shadow: 0 6px 10px #afc2c733;
$shadow_active: 0 6px 10px #72808533;

$animation_duration: 300ms;
$animation: ease-in-out;

$main-font: "Krona One", sans-serif;
