@import "./variables";

.about_us {
  background-color: $base-color;
  min-height: 100dvh;

  // :nth-child(odd) {
  //   background-color: $primary-color;
  // }

  .parts {
    height: 600px;
    box-shadow: 0 0 10px #9aa8acb4;

    .centered {
      height: 100%;
      width: 80%;
      margin: auto;

      justify-content: space-between;
      align-items: center;
      align-items: center;
      font-family: $main-font;
      display: flex;
      flex-direction: row;
      gap: 2rem;

      .information {
        h2 {
          font-size: 1.75rem;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 0.85rem;
        }
      }
    }

    img {
      height: 480px;
      width: auto;
      border: 3px solid $primary-color;
      border-radius: 0.5rem;
      box-shadow: 0 3px 10px #292c2e59;
    }

    &:nth-of-type(1) {
      .centered {
        flex-direction: row !important;
      }
    }

    &:nth-of-type(odd) {
      background-color: $primary-color;
      color: white;

      .centered {
        flex-direction: row-reverse;
      }

      img {
        border: 3px solid white;
      }
    }

    &:nth-of-type(even) {
      .centered {
        flex-direction: row;
      }
    }
  }

  .first {
    .map-container {
      .map {
        border-radius: 0.5rem;
        border: solid 3px $secondary-color;
        box-shadow: 0 3px 10px #292c2e59;
      }
    }

    .centered {
      display: flex;
      justify-content: start;
      gap: 5rem;
    }

    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 2rem;

      .contact {
        color: $text-color;
        font-family: $main-font;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        text-decoration: none;

        :visited {
          color: inherit;
        }

        .icon {
          scale: 1.2;
          width: 30px;
        }
      }
    }
  }

  .second {
  }

  .third {
  }
}

@media screen and (max-width: 1600px) {
  .centered {
    width: 90% !important;
  }
}

@media screen and (max-width: 1366px) {
  .centered {
    width: 95% !important;
  }
}

@media screen and (max-width: 1280px) {
  .centered {
    width: calc(100% - 1rem) !important;
  }
}
