@import "./variables";

.about_us {
  background-color: $base-color;
  min-height: 100dvh;

  // :nth-child(odd) {
  //   background-color: $primary-color;
  // }

  p {
  }

  .parts {
    height: 600px;
    box-shadow: 0 0 10px #9aa8acb4;

    .centered {
      height: 100%;
      width: 80%;
      margin: auto;

      justify-content: space-between;
      align-items: center;
      align-items: center;
      font-family: $main-font;
      display: flex;
      flex-direction: row;
      gap: 2rem;

      .information {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 28rem;
        justify-content: center;
        // margin-bottom: 2rem;

        .about-information-title {
          font-size: 1.75rem !important;
          margin-bottom: 0.5rem;
          outline: none;
          width: 100%;
          font-weight: 700;

          &:focus {
            outline: 2px solid black;
            border-radius: 0.25rem;
          }
        }

        textarea {
          // background-color: red;
        }

        .about-information-text {
          font-size: 1rem;
          text-align: justify;
          word-break: keep-all;
          overflow-x: hidden !important;
          height: 20rem;

          &:focus {
            outline: 2px solid black;
            border-radius: 0.25rem;
          }
        }
      }
    }

    .image {
      img {
        height: 30rem;
        width: auto;
        border: 3px solid $primary-color;
        border-radius: 0.5rem;
        box-shadow: 0 3px 10px #292c2e59;
      }
    }

    &:nth-of-type(1) {
      .centered {
        flex-direction: row !important;
      }
    }

    &:nth-of-type(odd) {
      background-color: $primary-color;

      .centered {
        flex-direction: row-reverse;
      }

      .about-information-title {
        display: flex;
        justify-content: start !important;
        color: $base-color !important;

        //  direction: ltr
        // scrollbar-color: #888 #edf6fa;

        // &:focus {
        //   border: 1px solid $base-color !important;
        // }
      }

      .about-information-text {
        color: $base-color !important;
        text-align: justify;
        word-break: keep-all;
        overflow-x: hidden !important;
        text-align-last: end;

        direction: rtl;
        scrollbar-color: $base-color $primary-color;
      }

      img {
        border: 3px solid $base-color;
      }
    }

    &:nth-of-type(even) {
      .centered {
        flex-direction: row;
      }

      .about-information-title {
        text-align: right;
        display: flex;
        justify-content: end;
      }
      .about-information-text {
        scrollbar-color: $primary-color $base-color;
      }
    }

    &:last-of-type {
      // .centered {
      //   margin-bottom: 3rem;
      // }
    }
  }

  .first {
    .map-container {
      .map {
        border-radius: 0.5rem;
        border: solid 3px $secondary-color;
        box-shadow: 0 3px 10px #292c2e59;
      }
    }

    .centered {
      display: flex;
      justify-content: start;
      gap: 5rem;
    }

    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1.5rem;

      .contact {
        color: $text-color;
        font-family: $main-font;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;

        :visited {
          color: inherit;
        }

        .icon {
          scale: 1.2;
          width: 30px;
        }
      }
    }
  }

  .second {
  }

  .third {
  }
}

@media screen and (max-width: 1600px) {
  .centered {
    width: 90% !important;
  }
}

@media screen and (max-width: 1366px) {
  .centered {
    width: 95% !important;
  }
}

@media screen and (max-width: 1280px) {
  .centered {
    width: calc(100% - 1rem) !important;
  }
}
