@import "./variables";

.catalog {
  position: relative;
  background-color: $base-color;
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  width: 100%;
  min-height: 100dvh;

  .products-not-found-message {
  }

  .companies {
    background-color: $primary-color;
    display: flex;
    height: 150px;
    padding: 20px 1%;
    gap: 20px;
    box-shadow: 0 1px 10px #2b303133;

    .company {
      align-items: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      user-select: none;

      &.selected {
        .logo {
          border: $base-color solid 2px;
        }

        &:hover,
        &:active,
        &:focus {
          .logo {
            border: $base-color solid 2px;
            opacity: 0.8;
          }

          span {
            opacity: 0.8;
          }
        }
      }

      span {
        cursor: default;
        transition: 200ms ease-in-out;

        &:hover {
          cursor: pointer;
        }
      }

      &:hover {
        cursor: pointer;
      }

      &:hover,
      &:active,
      &:focus {
        .logo {
          border: $base-color solid 2px;
        }

        span {
          opacity: 0.9;
        }
      }

      .logo {
        border: transparent solid 2px;
        width: 80px;
        height: 80px;
        border-radius: 50%;

        transition: border $animation_duration $animation, opacity $animation_duration $animation;
      }

      span {
        font-family: $main-font;
        font-size: smaller;
        color: $base-color;
      }
    }
  }

  .products_categories {
    padding: 2rem 1rem 2rem 0;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    box-shadow: $shadow;
    min-height: 100dvh;

    .categories {
      border-radius: 0 0.5rem 0.5rem 0;
      padding: 30px;
      background-color: white;
      min-width: 300px;
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .category {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: solid 1px #cecece;
        outline: none;
        font-family: $main-font;
        font-size: 0.85rem;
      }

      .input {
        display: flex;
      }

      .utils {
        // gap: 20%;
        gap: 1rem;
        display: flex;
        // padding: 10%;

        button {
          color: $base-color;
          min-width: 50px;
          width: 40%;
          // height: 30px;
          border-radius: 5px;
          padding: 0.5rem 0.5rem;
          background-color: $primary-color;
          cursor: pointer;
        }

        .search-button {
          font-family: $main-font;
          flex: 3;
          text-align: center;
          font-size: 1rem;
          font-weight: 500;
        }
        .trash-button {
          flex: 1;

          svg {
            transform: translateY(1px);
            height: 1.5rem;
            fill: $base-color;
          }
        }
      }
    }

    .products {
      // padding-block: 10px;
      // min-height: 100dvh;
      height: fit-content;
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      gap: 1rem;
      justify-content: start;
    }
  }
}
