@import "./variables";

.catalog {
  position: relative;
  background-color: $base-color;
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  width: 100%;

  .products-not-found-message {
  }

  .companies {
    background-color: $primary-color;
    display: flex;
    height: 150px;
    padding: 20px 1%;
    gap: 20px;

    .company {
      align-items: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;

      .logo:active,
      .logo:hover,
      .logo:focus {
        outline: white solid 1px;
      }

      .logo {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      span {
        font-family: $main-font;
        font-size: smaller;
        color: white;
      }
    }
  }

  .products_categories {
    padding: 30px 15px 30px 0;
    width: 100%;
    display: flex;
    gap: 25px;

    .categories {
      border-radius: 0 25px 25px 0;
      padding: 30px;
      background-color: white;
      min-width: 300px;
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .category {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: solid 1px #cecece;
        outline: none;
        font-family: $main-font;
        font-size: 14px;
      }

      .input {
        display: flex;
      }

      .utils {
        // gap: 20%;
        gap: 1rem;
        display: flex;
        // padding: 10%;

        button {
          color: white;
          min-width: 50px;
          width: 40%;
          // height: 30px;
          border-radius: 5px;
          padding: 0.5rem 0.5rem;
          background-color: $primary-color;
          cursor: pointer;
        }

        .search-button {
          font-family: $main-font;
          flex: 3;
          text-align: center;
          transition: 200ms opacity ease-in-out;

          &:hover {
            opacity: 0.85;
          }
        }
        .trash-button {
          flex: 1;

          transition: 200ms opacity ease-in-out;

          &:hover {
            opacity: 0.85;
          }

          svg {
            transform: translateY(1px);
            height: 1.5rem;
            fill: white;
          }
        }
      }
    }

    .products {
      padding-block: 10px;
      min-height: 100dvh;
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      gap: 25px;
    }
  }
}
