.dashboard {
  width: 100%;
  position: relative;

  .add-new-article-button {
    background-color: $primary-color;
    color: $base-color;
    display: block;
    width: fit-content;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1.25rem auto -1.25rem auto;
    transition: background-color $animation_duration $animation;

    &:hover {
      background-color: $primary-color-active;
    }
  }

  .admin-auth {
    animation: appear 500ms $animation forwards;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 99999;

    .admin-auth-panel {
      width: 18rem;
      z-index: 10000;
      position: absolute;
      background-color: white;
      box-shadow: 0 1px 4px 2000px #1c1f1f49;
      border-radius: 0.5rem;
      top: 40vh;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.25rem;

      .go-back-link {
        position: absolute;
        bottom: -1.75rem;
        right: 0.5rem;
        color: black;
        font-weight: 500;
        transition: opacity $animation_duration $animation;
        opacity: 0.75;

        &:hover {
          opacity: 0.5;
        }
      }

      .login-error {
        color: $warning-red;
        font-size: 0.9rem;
        font-weight: 500;
        margin-left: 0.25rem;
      }

      .admin-auth-input {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;

        .login-title {
          color: $primary-color;
          font-weight: 600;
          padding-left: 0.25rem;
          margin-bottom: 0.5rem;
        }

        input {
          outline: none;
          border: 2px solid $primary-color;
          font-family: $main-font;
          padding: 0.5rem;
          border-radius: 0.5rem;
          font-weight: 500;
          font-size: 1rem;
          width: 100%;

          &:focus {
            border: 2px solid $primary-color-active;
            outline: 1px solid $primary-color-active;
          }
        }

        .error-list {
          display: flex;
          flex-direction: column;
          margin-top: 0.25rem;
          margin-left: 1rem;
          margin-bottom: 0.25rem;

          .error-item {
            font-size: 0.75rem;
            color: $warning-red;
          }
        }

        .submit-code {
          background-color: $primary-color;
          border-radius: 0.5rem;
          color: $text-color;
          font-family: $main-font;
          font-size: 1rem;
          font-weight: 500;
          width: 100%;
          padding: 0.5rem;
          cursor: pointer;
          transition: background-color $animation_duration $animation;

          &:hover {
            background-color: $primary-color-active;
          }
        }
      }
    }
  }

  .navbar {
    z-index: 9998;
    position: sticky;
    // top: 5.5rem;
    top: 0;
    box-shadow: 0 1px 1px #1c1f1f07;

    .go-back-link {
      position: absolute;
      left: 1rem;
      font-weight: bold;
      font-size: 1.25rem;
      transform: translateY(2.5%);
      color: $base-color;
      transition: opacity $animation_duration $animation;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .dashboard-header {
    width: 100%;
    z-index: 8999;
    background-color: $accent_green;
    color: white;
    height: 3rem;
    text-align: start;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 1px 4px #1c1f1f13;

    h3 {
      margin-left: 2rem;
      opacity: 0.75;
    }

    &.hidden {
      opacity: 0;
    }

    &.visible {
      opacity: 1;
    }

    .dashboard-navigation-buttons {
      position: absolute;
      right: 0;
      top: 0;
      width: fit-content;
      height: 100%;
      display: flex;

      // button,
      .log-out-button {
        background-color: $warning_red;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        padding-right: 2.75rem;
        padding-left: 1.25rem;
        right: 0;
        font-weight: 500;
        transition: background-color $animation_duration $animation;
        height: 100%;
        align-items: center;

        &:hover {
          background-color: $warning_red_active;
        }
      }

      a {
        background-color: $primary-color;
        color: $text-color;
        display: flex;
        align-items: center;
        padding-right: 1.75rem;
        padding-left: 1.75rem;
        transition: background-color $animation_duration $animation,
          color $animation_duration $animation;
        position: relative;

        &:hover {
          background-color: $primary-color-active;
        }
        &.active {
          color: lighten($accent_green, 10%);
        }

        &:nth-of-type(1) {
          z-index: 10;
        }
        &:nth-of-type(2) {
          z-index: 9;
        }
        &:nth-of-type(3) {
          z-index: 8;
        }
        &:nth-of-type(4) {
          z-index: 7;
        }
      }
    }

    h3 {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .dashboard-navbar {
    display: flex;
    box-shadow: 0 1px 1px #1c1f1f49;

    a {
      background-color: $primary-color;
      color: $text-color;
      display: block;
      flex: 1;
      text-align: center;
      padding: 0.5rem;

      transition: opacity $animation_duration $animation,
        background-color $animation_duration $animation;

      &:hover {
        opacity: 0.9;
      }

      &.active {
        background-color: $primary-color-active;
      }
    }
  }

  .outlet {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .field-button {
    text-align: start;
    cursor: pointer;
    transition: opacity $animation_duration $animation;
  }
  .product-name,
  .product-description,
  .about-information-title,
  .about-information-text {
    padding: 0 0.25rem;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    resize: none;
  }

  .product-page {
    .product-price {
      margin-right: 0.25rem;
    }

    .category-list {
      .category-item {
        display: flex;
        gap: 0.5rem;

        .category-item-text {
          display: flex;
          gap: 0.25rem;

          .category-type-key {
            opacity: 0.75;
          }
        }

        &:hover {
          button {
            display: flex;
          }
        }

        button {
          display: flex;
          gap: 0.5rem;
          margin-right: -0.25rem;
          cursor: pointer;

          svg {
            fill: $warning-red;
            height: 1.25rem;
            width: 1.25rem;
          }

          &:hover {
            svg {
              fill: $warning-red-active;
            }
          }
        }
      }
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    .dashboard-product-price {
      max-width: 4rem;
      min-width: 2rem;
      height: 1.5rem;
    }

    .product-description {
      display: flex;
      min-height: 7.5rem;
      padding-right: 0.25rem;
    }

    .product-image-wrapper {
      margin-left: 3rem;
    }

    .dashboard-product-image {
      position: relative !important;

      .product-options-buttons {
        position: absolute;
        left: -2.75rem;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .button,
        .log-out-button {
          background-color: $warning-red;
          height: 2.25rem;
          width: 2.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &.save-button {
            background-color: $success_green;

            &:hover {
              background-color: $success_green_active !important;
            }

            &:disabled {
              background-color: rgb(141, 141, 141);

              &:hover {
                background-color: rgb(141, 141, 141) !important;
              }
            }
          }

          &.trash-button {
            &:hover {
              background-color: $warning-red-active !important;
            }
          }

          &.reset-button {
            background-color: $primary-color;

            &:hover {
              background-color: $primary-color-active !important;
            }
          }

          svg {
            height: 1.5rem;
            width: 1.5rem;
            fill: $base-color;
          }
        }
      }

      .image-options-buttons {
        position: absolute;
        left: -2.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .button,
        .log-out-button {
          background-color: $warning-red;
          height: 2.25rem;
          width: 2.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .image-input {
            position: absolute;
            visibility: hidden;
            height: fit-content;
            white-space: nowrap;
          }

          svg {
            height: 1.5rem;
            width: 1.5rem;
            fill: $base-color;
          }

          &.upload-button {
            background-color: $primary-color;

            &:hover {
              background-color: $primary-color-active !important;
            }
          }

          &.plus-button {
            background-color: $accent_green;

            &:hover {
              background-color: $accent_green_active !important;
            }
          }

          &:hover {
            background-color: $warning-red-active !important;
          }
        }
      }
    }
  }

  .add-about-item {
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color $animation $animation_duration;
    background-color: $accent_green;
    width: 100%;
    font-weight: 600;
    font-size: 1.5rem;
    color: $base-color;
    font-weight: 600;
    box-shadow: 0 1px 1px #1c1f1f07;
    &:hover {
      background-color: $accent_green_active;
    }
  }

  .confirm-change {
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 1px 1px #1c1f1f07;
    position: sticky;
    bottom: 0;

    display: flex;

    .change-confirm {
      width: 100%;
      transition: background-color $animation $animation_duration;
      background-color: $success_green;
      padding: 0.25rem;
      color: $base-color;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: $success_green_active;
      }
    }

    .change-discard {
      padding: 0.25rem;
      transition: background-color $animation $animation_duration;
      background-color: $warning-red;
      color: $base-color;
      font-weight: 600;
      width: 7.5rem;
      cursor: pointer;

      &:hover {
        background-color: $warning-red-active;
      }
    }
  }

  .parts:nth-of-type(2) {
    .move-up {
      opacity: 0.5 !important;
      cursor: default !important;

      &:hover {
        opacity: 0.5 !important;
      }
    }
  }

  .parts:last-of-type {
    .move-down {
      opacity: 0.5 !important;
      cursor: default !important;

      &:hover {
        opacity: 0.5 !important;
      }
    }
  }

  .about-parts {
    &:last-of-type {
      box-shadow: none !important;
    }

    .centered {
      position: relative;

      .about-item-options {
        right: 0;
        top: 0.75rem;

        position: absolute;
        display: flex;
        gap: 0.5rem;

        .move-about-item {
          cursor: pointer;
          padding: 0.25rem 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: opacity $animation_duration $animation;

          &:hover {
            opacity: 0.8;
          }

          .icon {
            height: 1.5rem;
            width: 1.5rem;
          }

          &.remove {
            .icon {
              fill: $warning-red;
            }
          }

          &.move-up {
            .icon {
              rotate: 270deg;
            }
          }

          &.move-down {
            .icon {
              rotate: 90deg;
            }
          }
        }
      }
    }

    .image {
      position: relative;
      height: fit-content;

      &:hover {
        .image-panel {
          opacity: 0.15;
          border-radius: 0.5rem;
        }

        .upload-icon {
          scale: 1.15;
          bottom: 1.5rem;
          left: 1.5rem;
        }
      }

      .upload-icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $base-color;
        position: absolute;
        bottom: 1.5rem;
        left: 1rem;
        transition: scale $animation_duration $animation, fill $animation_duration $animation,
          left calc($animation_duration * 1.05) $animation,
          bottom calc($animation_duration * 1.05) $animation;
      }

      .image-panel {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $base-color;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity $animation_duration $animation;
      }

      .image-input {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
        white-space: nowrap;
      }
    }

    .information {
      .about-information-title {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
      }

      .about-information-text {
        font-size: 1rem;
        text-align: justify;
        word-break: keep-all;
        width: 100%;
      }
    }
  }

  .parts.first {
    position: relative;

    .language-select {
      display: flex;
      gap: 0.5rem;
      position: absolute;
      bottom: -2.5rem;
      z-index: 1000;

      button {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-size: 1rem;
        background-color: white;
        box-shadow: 0 6px 10px #afc2c733;
        transition: opacity $animation_duration $animation,
          box-shadow $animation_duration $animation, background-color $animation_duration $animation,
          color $animation_duration $animation;
        font-weight: 600;

        &.language-selected {
          background-color: $primary-color;
          color: $text-color;
        }

        &:hover {
          opacity: 0.85;
          cursor: pointer;
          box-shadow: 0 6px 10px #72808533;
        }
      }
    }
  }

  .edit-news-article-page {
    width: 100%;
    padding: 0 0.25rem;

    .edit-article {
      min-height: 50vh;
      display: flex;
      flex-direction: column;
    }

    .image-upload {
      position: relative;
      width: 10rem;
      height: 2.5rem;
      cursor: pointer;
      margin-top: auto;

      &:hover {
        .upload-image-text {
          background-color: $primary-color-active;
        }
      }

      .upload-image-text {
        background-color: $primary-color;
        width: fit-content;
        border-radius: 0.5rem;
        color: $base-color;
        width: 12rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color $animation $animation_duration;
        white-space: nowrap;
      }

      .image-input {
        width: 12rem;
        height: 2.5rem;
        position: absolute;
        top: 0;
        opacity: 0;
        cursor: pointer;
      }
    }

    .field-button {
      text-align: start;
      cursor: pointer;
      transition: opacity $animation_duration $animation;
    }

    .article-title,
    .article-text {
      resize: none;
    }

    .article-title {
      padding: 0 0.25rem;
    }

    .article-text {
      min-height: 3rem;
      position: relative;
      padding: 0.25rem 0.25rem;

      .placeholder-text {
        position: absolute;
        top: 0.5rem;
      }
    }

    .date {
      white-space: nowrap;
      margin-left: 1rem;
    }

    .article-title {
      font-size: 1.5rem;
      width: 100%;

      h1 {
        font-size: 1rem;
      }
    }

    textarea.article-text {
      overflow-y: visible !important;
      height: 8rem;
    }

    .article-buttons {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      .language-select {
        margin-right: auto;
        display: flex;
        gap: 0.5rem;
        z-index: 1000;

        button {
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
          font-size: 0.75rem;
          background-color: white;
          box-shadow: 0 6px 10px #afc2c733;
          transition: opacity $animation_duration $animation,
            box-shadow $animation_duration $animation,
            background-color $animation_duration $animation, color $animation_duration $animation;
          font-weight: 600;

          &.language-selected {
            background-color: $primary-color;
            color: $text-color;
          }

          &:hover {
            opacity: 0.85;
            cursor: pointer;
            box-shadow: 0 6px 10px #72808533;
          }
        }
      }

      .confirm-button,
      .delete-button {
        cursor: pointer;
        padding: 0.5rem;
        background-color: $warning-red;
        border-radius: 0.5rem;
        display: flex;
        transition: background-color $animation_duration $animation;

        &.disabled {
          opacity: 0.75;

          &:hover {
            opacity: 0.75;
          }
        }

        &:hover {
          background-color: $warning-red-active;
        }

        svg {
          height: 1.5rem;
          width: 1.5rem;

          path {
            fill: $base-color;
          }
        }
      }

      .confirm-button {
        background-color: $success_green;

        &:hover {
          background-color: $success_green_active;
        }
      }
    }

    .news-images {
      .image {
        position: relative;
        width: fit-content;

        img {
          max-width: 800px;
        }

        .delete-button {
          position: absolute;
          top: 0;
          right: -3.25rem;
          cursor: pointer;
          padding: 0.5rem;
          background-color: $warning-red;
          border-radius: 0.5rem;
          display: flex;
          transition: background-color $animation_duration $animation;

          &:hover {
            background-color: $warning-red-active;
          }

          svg {
            height: 1.5rem;
            width: 1.5rem;

            path {
              fill: $base-color;
            }
          }
        }
      }
    }

    .article-text {
      padding-top: 0.5rem;
      font-size: 1rem;
      text-align: justify;
      word-break: keep-all;
      overflow-x: hidden !important;
      width: 100%;
      height: auto;
    }
  }
}

.admin-language-select {
  // color: $base-color;
  // margin-right: 1.5rem;
  // background-color: $base-color;
  color: $text-color;
  margin-top: 0.25rem;

  div {
    color: $text-color;
  }

  .open-select-button {
    &.open {
      color: $text-color;

      svg {
        fill: $base-color;
      }

      &:hover {
        color: $base-color;

        svg {
          fill: $base-color;
        }
      }
    }

    svg {
      fill: $text-color;
    }

    &:hover {
      color: $base-color;

      svg {
        fill: $base-color;
      }
    }
  }

  .select-options-list {
    margin-top: 0.5rem;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dashboard-product {
  .product-shop {
    &:hover {
      .shop {
        opacity: 1 !important;
      }
    }
  }
}
