.dashboard {
  width: 100%;
  // margin: 2rem auto 1rem;
  position: relative;

  .admin-auth {
    animation: appear 500ms $animation forwards;
    position: absolute;
    top: 0;
    left: 0;
    // background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 99999;

    .admin-auth-panel {
      width: 18rem;
      z-index: 10000;
      position: absolute;
      background-color: white;
      box-shadow: 0 1px 4px 1000px #1c1f1f49;
      border-radius: 0.5rem;
      top: 40%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      // height: 4.25rem;
      // width: 18rem;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.25rem;

      .go-back-link {
        position: absolute;
        bottom: -1.75rem;
        right: 0.5rem;
        color: black;
        font-weight: 500;
        transition: opacity $animation_duration $animation;
        opacity: 0.75;

        &:hover {
          opacity: 0.5;
        }
      }

      .admin-auth-input {
        display: flex;
        flex-direction: column;
        // width: calc(100% - 1.5rem);
        width: 100%;
        gap: 0.5rem;

        .login-title {
          color: $primary-color;
          font-weight: 600;
          padding-left: 0.25rem;
          margin-bottom: 0.5rem;
        }

        input {
          outline: none;
          border: 2px solid $primary-color;
          font-family: $main-font;
          padding: 0.5rem;
          border-radius: 0.5rem;
          font-weight: 500;
          font-size: 1rem;
          width: 100%;

          &:focus {
            border: 2px solid $primary-color-active;
            outline: 1px solid $primary-color-active;
          }
        }

        .submit-code {
          background-color: $primary-color;
          border-radius: 0.5rem;
          color: $text-color;
          font-family: $main-font;
          font-size: 1rem;
          font-weight: 500;
          width: 100%;
          padding: 0.5rem;
          cursor: pointer;
          transition: background-color $animation_duration $animation;

          &:hover {
            background-color: $primary-color-active;
          }
        }
      }
    }
  }

  .navbar {
    z-index: 9998;
    position: sticky;
    top: 5.875rem;
    box-shadow: 0 1px 1px #1c1f1f07;
  }

  .dashboard-header {
    width: 100%;
    background-color: $accent_green;
    color: white;
    padding: 0.5rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    // position: relative;

    .dashboard-navigation-buttons {
      position: absolute;
      right: 0;
      top: 0;
      width: fit-content;
      height: 100%;
      display: flex;

      button {
        background-color: $warning_red;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        // position: absolute;
        padding-right: 2.75rem;
        padding-left: 1.25rem;
        right: 0;
        // padding: 0.25rem 0.75rem;
        font-weight: 500;
        // border: 2px solid $accent_green;
        transition: background-color $animation_duration $animation;
        // border-radius: 0.5rem;
        height: 100%;
        align-items: center;

        &:hover {
          background-color: $warning_red_active;
        }
      }

      a {
        background-color: $primary-color;
        color: $text-color;
        display: flex;
        align-items: center;
        padding-right: 2.75rem;
        padding-left: 2.75rem;
        transition: background-color $animation_duration $animation,
          color $animation_duration $animation;
        position: relative;

        box-shadow: 2px 0px 4px #1c1f1f11;

        &:hover {
          background-color: $primary-color-active;
        }
        &.active {
          color: lighten($accent_green, 10%);
        }

        &:nth-of-type(1) {
          z-index: 10;

          box-shadow: -2px 0px 4px #1c1f1f11, 2px 0px 4px #1c1f1f11;
        }
        &:nth-of-type(2) {
          z-index: 9;
        }
        &:nth-of-type(3) {
          z-index: 8;
        }
        &:nth-of-type(4) {
          z-index: 7;
        }
      }
    }

    h3 {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .dashboard-navbar {
    display: flex;
    box-shadow: 0 1px 1px #1c1f1f49;
    // gap: 0.25rem;

    a {
      background-color: $primary-color;
      color: $text-color;
      display: block;
      flex: 1;
      text-align: center;
      padding: 0.5rem;

      transition: opacity $animation_duration $animation,
        background-color $animation_duration $animation;

      &:hover {
        opacity: 0.9;
      }

      &:first-of-type {
        // border-radius: 0.5rem 0 0 0.5rem;
      }

      &:last-of-type {
        // border-radius: 0 0.5rem 0.5rem 0;
      }

      &.active {
        background-color: $primary-color-active;
      }
    }
  }

  .outlet {
    margin-top: 1rem;
    width: 100%;
  }

  .product-page {
    .field-button {
      text-align: start;
      cursor: pointer;
      transition: opacity $animation_duration $animation;
    }

    .product-price {
      margin-right: 0.25rem;
    }

    .product-name,
    .product-description {
      padding: 0 0.25rem;
      margin-left: -0.25rem;
      resize: none;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    .dashboard-product-price {
      max-width: 4rem;
      min-width: 2rem;
      height: 1.5rem;
    }

    .product-description {
      display: flex;
      min-height: 7.5rem;
    }

    .dashboard-product-image {
      position: relative !important;

      .product-options-buttons {
        position: absolute;
        left: -2.75rem;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .button {
          background-color: $warning-red;
          height: 2.25rem;
          width: 2.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &.save-button {
            background-color: $success_green;

            &:hover {
              background-color: $success_green_active !important;
            }

            &:disabled {
              background-color: rgb(141, 141, 141);

              &:hover {
                background-color: rgb(141, 141, 141) !important;
              }
            }
          }

          &.trash-button {
            &:hover {
              background-color: $warning-red-active !important;
            }
          }

          svg {
            height: 1.5rem;
            width: 1.5rem;
            fill: $base-color;
          }
        }
      }

      .image-options-buttons {
        position: absolute;
        left: -2.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .button {
          background-color: $warning-red;
          height: 2.25rem;
          width: 2.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .image-input {
            position: absolute;
            visibility: hidden;
          }

          svg {
            height: 1.5rem;
            width: 1.5rem;
            fill: $base-color;
          }

          &.upload-button {
            background-color: $primary-color;

            &:hover {
              background-color: $primary-color-active !important;
            }
          }

          &.plus-button {
            background-color: $accent_green;

            &:hover {
              background-color: $accent_green_active !important;
            }
          }

          &:hover {
            background-color: $warning-red-active !important;
          }
        }
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dashboard-product {
  .product-shop {
    &:hover {
      .shop {
        opacity: 1 !important;
      }
    }
  }
}
