@import "./variables";

.footer {
  background: linear-gradient(
    to bottom,
    $primary-color 0%,
    lighten($secondary-color, 20%) 50%,
    lighten($secondary-color, 18.5%) 100%
  );
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  padding: 1.15rem 2rem;
  box-shadow: 0 -1px 10px #2b303133;

  &.hide-shadow {
    box-shadow: none !important;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    .stamp {
      text-align: left;
      margin-left: 10px;
    }

    .license {
      color: $text-color;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;

    .contact {
      color: $text-color;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75rem;
      text-decoration: none;

      :visited {
        color: inherit;
      }

      .icon {
        width: 30px;
      }
    }
  }
}

.contact {
  transition: opacity $animation_duration $animation;

  &:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}
