@import "./variables";

.footer {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  height: 200px;

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    .stamp {
      text-align: left;
      margin-left: 10px;
    }

    .license {
      color: $text-color;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;

    .contact {
      color: $text-color;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      text-decoration: none;

      :visited {
        color: inherit;
      }

      .icon {
        width: 30px;
      }
    }
  }
}
