@import "./variables";

header {
  z-index: 9999;
  position: sticky;
  top: 0;

  .header-top {
    display: flex;
    align-items: center;
    flex-wrap: no-wrap;
    gap: 1rem;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.75rem 1rem;
  }

  .header-bottom {
    width: 100%;
    background-color: #0aab94;
    color: white;
    height: 2.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 1px 4px #1c1f1f13;

    .contact_us {
      text-align: center;
      // height: 0.85rem;
      font-family: $main-font;
      font-size: 0.9rem;
      // text-align: left;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      display: flex;
      gap: 1.5rem;

      span {
        color: darken($primary_color, 15%);
        // color: $dark-text-color;
        font-weight: 700;
      }

      a {
        color: $base-color;
        text-wrap: nowrap;
        padding-bottom: 0;
        height: 100%;
        padding: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;

        color: $base-color;

        text-shadow: 0px 0px 2px 2px rgba(86, 128, 156, 0.603);
        font-weight: 500;

        transition: opacity $animation_duration $animation, color $animation_duration $animation;

        &:hover {
          // padding-bottom: 0.25rem;
          color: white;
          opacity: 0.85;
          text-decoration: underline;
        }
      }
    }
  }

  .language-selector {
    margin-right: 2rem;
    font-family: $main-font;
    font-size: 0.85rem;
    color: $primary_color;
    text-shadow: 0 0px 1px #272b2c3b;
  }

  .logo {
    position: flex-start;
    display: flex;
    gap: 0.75rem;
    align-items: center;

    flex-direction: row;

    h1 {
      width: 192px;
      flex-grow: 0;
      font-family: "Inika", serif;
      font-size: 1.25rem;
      text-align: left;
      color: #348ae1;
    }
  }

  .nav-buttons {
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-inline: 2rem;
      list-style: none;

      .nav-link {
        text-decoration: none;
        background-color: transparent;
        font-family: $main-font;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        color: #348ae1;
        padding: 0.25rem 0.5rem;
        border-radius: 1rem;
        transition: background-color $animation_duration $animation,
          box-shadow $animation_duration $animation, color $animation_duration $animation;

        &:hover {
          color: $primary-color-active;
        }

        &.active {
          background-color: #348ae1;
          box-shadow: 0 2px 4px #16181833;
          color: $base-color;

          &:hover {
            background-color: $primary-color-active;
          }
        }

        :visited {
          color: inherit;
        }
      }

      .link-separator {
        color: #348ae1;
        user-select: none;
      }
    }
  }
}
