@import "./variables";

.nav {
    z-index: 9999;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
    justify-content: space-between;
    background-color: #fff;
    ;
    padding: 15px;

    .logo {
        position: flex-start;
        display: flex;
        gap: 10px;
        align-items: center;

        h1 {
            width: 192px;
            flex-grow: 0;
            font-family: "Inika", serif;
            font-size: 20px;
            text-align: left;
            color: #348ae1;
        }
    }

    .nav-buttons {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-inline: 50px;

        button {
            text-decoration: none;
            background-color: transparent;
            font-family: $main-font;
            font-size: 14px;
            text-align: left;
            color: #348ae1;

            :visited {
                color: inherit;
            }
        }

        span {
            color: #348ae1;
        }
    }

    .contact_us {
        text-align: center;
        height: 11.5px;
        font-family: $main-font;
        font-size: 12px;
        text-align: left;
        color: #2b2be1;
        text-wrap: nowrap;
    }
}