@import "./variables";

.product {
  // padding: 1rem;
  min-width: 16rem;
  max-width: 16rem;
  height: 21rem;
  border-radius: 0.5rem;
  // border: solid 1px #e0e0e0;
  background-color: $text-color;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 10px #afc2c733;
  transition: box-shadow $animation_duration $animation, transform $animation_duration $animation;

  .product-link {
    // padding: 1rem 1rem 0.25rem 1rem;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    padding-bottom: auto;
    color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &:hover {
      // outline: 1px solid red;
    }
  }

  &:hover {
    box-shadow: 0 6px 10px #72808533;
    transform: translateY(-0.25rem);
  }

  .image {
    margin: 0 auto;

    min-width: 14rem;
    min-height: 11.375rem;

    max-width: 14rem;
    max-height: 11.375rem;

    border-radius: 0.5rem;
    background-color: $base-color;

    // box-shadow: 0 0 2px 4px #383d3f0c;

    img {
      width: 100%;
      height: 100%;
      height: 11.375rem;

      object-fit: cover;
    }
  }

  .instock {
    color: rgb(68, 150, 68);
    margin-top: auto;
  }

  .product-shop {
    // margin-top: auto;
    padding: 0 1rem 0.75rem 1rem;

    &:hover {
      .shop {
        opacity: 0.75;

        .go-to-contacts-text {
          opacity: 1;

          transform: translateX(-1rem);
        }

        .price {
          opacity: 0;
          transform: translateX(-1.5rem);
        }

        .cart {
          opacity: 0;
          transform: translateX(1.5rem);
        }
      }
    }

    .shop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid grey;
      margin-top: auto;
      padding-top: 0.75rem;
      align-items: center;
      color: black;
      transition: opacity $animation_duration $animation, transform $animation_duration $animation;
      position: relative;

      .cart {
        opacity: 1;
        transition: opacity $animation_duration $animation, transform $animation_duration $animation;
      }

      .price {
        opacity: 1;
        transition: opacity $animation_duration $animation, transform $animation_duration $animation;
      }

      .go-to-contacts-text {
        opacity: 0;
        // bottom: -0.75rem;
        font-size: 0.75rem;
        right: 0;
        position: absolute;
        transition: opacity $animation_duration $animation, width $animation_duration $animation,
          transform $animation_duration $animation;
        font-weight: 600;
      }
    }
  }

  .information {
    padding-top: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.25rem;
    height: 100%;
    padding: 1rem 0.5rem 0 0.5rem;

    .name {
      font-size: 13px;
      font-weight: bold;
      text-wrap: balance;
    }
  }
}
