@import "./variables";

.product {
  min-width: 16rem;
  max-width: 16rem;
  height: 20rem;
  border-radius: 0.5rem;
  background-color: $text-color;
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 10px #afc2c733;
  transition: box-shadow $animation_duration $animation, transform $animation_duration $animation;

  .product-link {
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    padding-bottom: auto;
    color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: $dark-text-color;
  }

  &:hover {
    box-shadow: 0 6px 10px #72808533;
    transform: translateY(-0.25rem);
  }

  .image {
    margin: 0 auto;

    min-width: 15rem;
    min-height: 12rem;

    max-width: 15rem;
    max-height: 12rem;

    border-radius: 0.5rem;
    background-color: white;

    img {
      width: 100%;
      height: 100%;
      height: 12rem;

      object-fit: contain;
    }
  }

  .instock {
    color: $success_green;
    margin-top: auto;
    font-weight: 600;
    user-select: none;

    color: $warning_red;
    &.is-in-stock {
      color: $success_green;
    }
  }

  .product-shop {
    padding: 0 1rem 0.75rem 1rem;

    &:hover {
      .shop {
        opacity: 0.75;

        .go-to-contacts-text {
          opacity: 1;

          transform: translateX(-1rem);
        }

        .unfixed-price {
          opacity: 0;
          transform: translateX(-1.5rem);
        }

        .fixed-price {
          transform: translateX(-0.25rem);
        }

        .cart {
          opacity: 0;
          transform: translateX(1.5rem);
        }
      }
    }

    .shop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid grey;
      margin-top: auto;
      padding-top: 0.75rem;
      align-items: center;
      color: $dark-text-color;
      transition: opacity $animation_duration $animation, transform $animation_duration $animation;
      position: relative;

      svg {
        path {
          fill: $dark-text-color !important;
        }
      }

      .cart {
        opacity: 1;
        transition: opacity $animation_duration $animation, transform $animation_duration $animation;
      }

      .price {
        font-weight: 500;
        opacity: 1;
        transition: opacity $animation_duration $animation, transform $animation_duration $animation,
          scale $animation_duration $animation;
        color: $dark-text-color;
      }

      .go-to-contacts-text {
        opacity: 0;
        right: 0;
        position: absolute;
        transition: opacity $animation_duration $animation, width $animation_duration $animation,
          transform $animation_duration $animation;
        font-weight: 600;

        .contact-purchase {
          color: $success_green;
        }

        .contact-price {
          color: $primary-color;
        }

        .contact-information {
          color: $primary-color;
        }
      }
    }
  }

  .information {
    padding-top: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.25rem;
    height: 100%;
    padding: 1rem 0.5rem 0 0.5rem;

    .name {
      font-size: 0.85rem;
      font-weight: 600;
      text-wrap: balance;
    }
  }
}
