@import "./variables";

.product-page {
  .product-container {
    max-width: 1326px;
    margin: 3rem auto;
    font-family: $main-font;
    border-radius: 0.5rem;
    display: flex;
    gap: 1.75rem;
    padding: 0.25rem 0.75rem;

    .product-image-select {
      position: relative;
    }

    .prev-button {
      left: -1.5rem;
      display: flex;
      justify-content: center;
    }
    .next-button {
      right: -1.5rem;
      display: flex;
      justify-content: center;
    }

    .prev-button,
    .next-button {
      cursor: pointer;
      transition: opacity $animation_duration $animation;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:disabled {
        opacity: 0.25 !important;

        svg {
          opacity: 1 !important;
        }

        &:hover {
          opacity: 0.25 !important;
        }
      }

      .hidden-images-count {
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        opacity: 0.25;
        font-size: 0.75rem;
      }
    }

    .image-not-found-message-small {
      font-size: 0.75rem;
      opacity: 0.75;

      background-color: $text-color !important;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      box-shadow: 0 6px 10px #afc2c733;

      &:hover {
        opacity: 0.85;
        cursor: pointer;

        img {
          box-shadow: 0 6px 10px #72808533;
        }
      }
    }

    .product-image-select-wrapper {
      overflow: visible;
      margin-top: 0.75rem;
      margin-right: 1.5rem;

      .product-image-select {
        display: grid;

        gap: 0.25rem;
        grid-template-columns: repeat(4, 1fr);

        .image-button {
          width: fit-content;
          object-fit: cover;
          transition: opacity $animation_duration $animation,
            box-shadow $animation_duration $animation, border 100ms $animation;

          border: 2px solid transparent;
          border-radius: 0.25rem;
          min-height: calc(6.5rem + 10px);
          width: 100%;

          border-radius: 0.5rem;

          img {
            height: 100%;
            box-shadow: 0 6px 10px #afc2c733;
            object-fit: contain;
            aspect-ratio: 4/3;
            background-color: white;
            transition: opacity $animation_duration $animation,
              box-shadow $animation_duration $animation, border 100ms $animation;
          }

          &.product-image-selected {
            border: 2px solid $primary_color;

            transition: 0 $animation !important;
          }

          img {
            display: block;
            width: 100%;
            -webkit-user-drag: none;
            border-radius: 0.35rem;
          }

          &:hover {
            opacity: 0.85;
            cursor: pointer;

            img {
              box-shadow: 0 6px 10px #72808533;
            }
          }
        }
      }
    }

    .product-image-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .product-image {
        border-radius: 0.5rem;
        background-color: $text-color;
        box-shadow: 0 6px 10px #afc2c733;
        object-position: center;
        max-width: 100% !important;

        justify-content: center;
        position: relative;

        img {
          min-height: 31.25rem;
          min-width: 41.625rem;
          max-height: 31.25rem;
          max-width: 41.625rem;
          object-fit: contain;

          max-width: 100% !important;

          border-radius: 0.5rem;
          margin: 0 auto;
          display: block;

          aspect-ratio: 4 / 3;
        }

        .change-product-image {
          position: absolute;
          font-size: 2rem;
          padding: 1.5rem;
          font-weight: bold;
          transition: opacity $animation_duration $animation;
          font-family: monospace;

          &:hover {
            opacity: 0.5;
          }

          &.next {
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
          }
          &.prev {
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }

        .image-not-found-message {
          min-height: 31.25rem;
          width: auto;
          aspect-ratio: 4 / 3;
          opacity: 0.5;
          display: flex;
          justify-content: center;
          align-items: center;
          pointer-events: none;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .placeholder-text {
      opacity: 0.5;
    }

    .product-information {
      padding: 0.25rem 0 0 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;

      .language-select {
        display: flex;
        gap: 0.5rem;
        position: absolute;
        top: -1.75rem;

        button {
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
          font-size: 0.75rem;
          background-color: white;
          box-shadow: 0 6px 10px #afc2c733;
          transition: opacity $animation_duration $animation,
            box-shadow $animation_duration $animation,
            background-color $animation_duration $animation, color $animation_duration $animation;
          font-weight: 600;

          &.language-selected {
            background-color: $primary-color;
            color: $text-color;
          }

          &:hover {
            opacity: 0.85;
            cursor: pointer;
            box-shadow: 0 6px 10px #72808533;
          }
        }
      }

      .product-name {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        height: 2.25rem;
      }

      .price-field-button {
        display: flex;
        min-width: 6rem;
      }

      .product-short-information {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;

        .fixed-price-label {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;
          user-select: none;

          input[type="checkbox"] {
            scale: (1.25);
          }
        }

        .product-status {
          &.product-in-stock {
            color: $success_green;
            font-weight: 500;
          }

          &.product-not-in-stock {
            color: $warning_red;
            font-weight: 500;
          }
        }

        .contact-for-purchasing-link {
          white-space: nowrap;
          margin-left: 1.25rem;
        }

        &.product-in-stock {
          color: $success_green;
          font-weight: 500;
        }

        &.product-not-in-stock {
          color: $warning_red;
          font-weight: 500;
        }

        .contact-for-pricing-link,
        .contact-for-purchasing-link {
          color: $primary_color;
          transition: color $animation_duration $animation;
          position: relative;
          font-weight: 500;

          &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: transparent;
            transition: background-color $animation_duration $animation;
          }

          &:hover {
            color: $primary_color_active;

            &::after {
              background-color: $primary_color_active;
            }
          }
        }
      }

      .product-status {
        white-space: nowrap;

        &.product-in-stock {
          color: $success_green;
          font-weight: 500;
        }

        &.product-not-in-stock {
          color: $warning_red;
          font-weight: 500;
        }
      }

      .product-description {
        border-top: 1px solid black;
        padding-top: 0.5rem;
        font-size: 1rem;
        line-height: 150%;
        text-align: justify;
        word-break: keep-all;
        overflow-x: hidden !important;
        height: 12rem;
        max-height: 12rem;
        overflow-y: auto;

        .product-description-content {
          overflow-y: auto;
        }
      }

      .category-list {
        display: flex;
        gap: 0.5rem;
        margin-top: auto;
        flex-wrap: wrap;

        .add-category-button {
          padding: 0.25rem;
          background-color: $accent_green;
          color: $base-color;
          border-radius: 0.5rem;
          box-shadow: 0 6px 10px #afc2c733;
          cursor: pointer;
          display: flex;
          transition: background-color $animation_duration $animation;

          &:hover {
            box-shadow: 0 6px 10px #72808533;
            background-color: $accent-green-active;
          }
        }

        .new-category-input {
          display: flex;
          gap: 0.5rem;

          input {
            background-color: $accent-green;
            border-radius: 0.5rem;
            color: $base-color;
            padding: 0.25rem 0.75rem;
            box-shadow: 0 6px 10px #afc2c733;
            outline: none;
            width: 9rem;
            transition: background-color $animation_duration $animation,
              box-shadow $animation_duration $animation;

            &.category-key {
              width: 5rem;
              border-radius: 0.5rem 0 0 0.5rem;
              margin-right: -0.25rem;
              font-size: 0.85rem;
            }

            &.category-value {
              width: 9rem;
              border-radius: 0 0.5rem 0.5rem 0;
              font-size: 0.85rem;
            }

            &::placeholder {
              color: rgb(206, 243, 240);
            }

            &:focus {
              outline: 2px solid $primary-color;
            }

            &:focus,
            &:hover {
              box-shadow: 0 6px 10px #72808533;
              background-color: $accent-green-active;
            }
          }

          .add-button,
          .discard-button {
            padding: 0.25rem 0.75rem;
            font-size: 0.85rem;
            background-color: $primary-color;
            box-shadow: 0 6px 10px #afc2c733;
            color: $base-color;
            border-radius: 0.5rem;
            transition: background-color $animation_duration $animation,
              box-shadow $animation_duration $animation;
            cursor: pointer;

            &:hover {
              background-color: $primary_color_active;
              box-shadow: 0 6px 10px #72808533;
            }
          }

          .discard-button {
            background-color: $warning_red;

            &:hover {
              background-color: $warning_red_active;
            }
          }
        }

        .category-item {
          padding: 0.25rem 0.75rem;
          background-color: $accent_green;
          color: $base-color;
          border-radius: 0.5rem;
          box-shadow: 0 6px 10px #afc2c733;
          font-size: 0.85rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: default;
          box-shadow: $shadow;
        }
      }
    }

    .product-order {
      height: 3rem;
      padding-top: 1.5rem;
      display: flex;
      align-items: center;
      gap: 2rem;

      .price {
        font-size: 1rem;
        white-space: nowrap;
      }

      .contact {
        background-color: $primary-color;
        color: $text-color;
        padding: 0.75rem 1rem;
        font-family: $main-font;
        font-size: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .product-container {
    flex-direction: column;
    margin-top: 2rem !important;

    .product-information {
      width: calc(100% - 1rem);
      margin: auto;

      .category-list {
        order: 2;
        margin-bottom: 0.5rem;
      }

      .product-name {
        order: 0;
      }

      .product-short-information {
        order: 1;
      }

      .product-description {
        order: 3;
      }
    }

    .product-image {
      width: calc(100% - 12rem);
      margin: auto;

      img {
        min-height: auto !important;
        min-width: auto !important;
        max-width: auto !important;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .product-container {
    .product-image {
      width: calc(100% - 6rem);
      height: auto;
      margin: auto;
    }
  }
}

@media screen and (max-width: 700px) {
  .product-container {
    .product-image-wrapper {
      .product-image {
        width: calc(100% - 2rem);
        height: auto;
        margin: auto;

        .image-not-found-message {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .product-information {
    .product-short-information {
      flex-direction: column;
    }

    .product-price {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      a {
        margin-left: 0 !important;
        display: block;
      }
    }

    .category-list {
      justify-content: center;
    }
  }
}
